<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png" />

    <title>Sistema Flask</title>
    
	<link rel="stylesheet" href="{{ url_for('static',  filename='css/style-carrinho.css') }}">
</head>
<body>

    

    <!-- modelos de pizza na lista e no carrinho -->
   
    <!-- /models -->

    <!-- .menu-openner aparecera no modo mobile -->
    <header>
        <h1>Notes </h1>
        <h2 id="bemvindo"> </h2>
        
    </header>
    <!-- /menu-openner -->
    

    <!-- conteudo principal -->
    <main>
        <h2>Bem Vindo, {{nome}}</h2>

        <h2></h2>
        <!-- {% for item in sessoes %}
        <li>{{ item }}</li>
    {% endfor %} -->
        <div class="pizza-area"></div>
    </main>
    <!-- /conteudo principal -->


    


    
   
</body>


</html>